# Variables d'environnement
.env
.env.local

# Base de données SQLite (si utilisée)
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo

# Environnement virtuel
venv/
env/

# IDE
.vscode/
.idea/

# Fichiers temporaires
*.log
*.tmp

# Fichiers système
.DS_Store
Thumbs.db
